/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  color: #444;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Layout */
body {
  padding: 20px;
}

ul,
ol {
  padding-left: 20px;
}

/* Responsive Design */
@media (min-width: 600px) {
  body {
    max-width: 800px;
    margin: 0 auto;
  }
}
